/*

.mvplayer--playing
.mvplayer--muted
.mvplayer--fullscreen

*/

.mvplayer
{
    @include size( 100%, 320px );
    @include pos-rel( null, null, null, null, 0 );

    margin:           0 auto;
    box-sizing:       border-box;
    background-color: #000;

    @media screen and( min-width: 480px )
    {
        @include size( null, 480px );
    }

    @media screen and( min-width: 640px )
    {
        @include size( null, 480px );
    }

    @media screen and( min-width: 768px )
    {
        @include size( null, 576px );
    }

    @media screen and( min-width: 1024px )
    {
        @include size( null, 576px );
    }

    @media screen and( min-width: 1280px )
    {
        @include size( null, 576px );
    }

    @media screen and( min-width: 1440px )
    {
        @include size( null, 576px );
    }

    @media screen and( min-width: 1600px )
    {
        @include size( null, 720px );
    }

    @media screen and( min-width: 1920px )
    {
        @include size( null, 810px );
    }

} // .mvplayer

.mvplayer__video
{
    @include size( 100%, 100% );
    @include pos-abs( null, null, null, null, 1 );

    display:    block;
    background: #000;

} // .mvplayer__video

.mvplayer__overlay
{
    @include size( 100%, 100% );
    @include pos-abs( 0, 0, 0, 0, 2 );

    box-sizing:          border-box;
    display:             flex;
    align-items:         center;
    align-content:       center;
    justify-content:     center;
    background:          none rgba( 0, 0, 0, 0.1 );
    fill:                rgba( 255, 255, 255, 1 );
    opacity:             0;
    animation-duration:  0.5s;
    animation-name:      none;
    animation-fill-mode: forwards;

    & > div
    {
        @include size( 120px, 120px );

        background:       none rgba( 128, 128, 128, 0.2 );
        border-radius:    50%;
        align-items:      center;
        justify-content:  center;
        display:          flex;
        opacity:          0;
        transform-origin: 50% 50%;
        transform:        scale3d( 0.2, 0.2, 1 );
        transition:       0.1s transform;

    } // & > div

    & > div.mvplayer__over-play
    {
        margin: 0 -120px 0 0;

        svg
        {
            margin-left: 10px;

        } // svg

    } // &.mvplayer__over-play

    & > div.mvplayer__over-pause
    {
        //

    } // .mvplayer__over-pause

    svg
    {
        @include size( 50%, 50% );

    } // svg

    .mvplayer--playing &
    {
        animation-name: mvplayer__fadein;

        & > div.mvplayer__over-play
        {
            opacity:   1;
            transform: scale3d( 1, 1, 1 );

        } // .mvplayer__over-play

        & > div.mvplayer__over-pause
        {
            opacity: 0;

        } // .mvplayer__over-pause
    }

    .mvplayer--paused &
    {
        animation-name: mvplayer__fadein;

        & > div.mvplayer__over-play
        {
            opacity: 0;

        } // .mvplayer__over-play

        & > div.mvplayer__over-pause
        {
            opacity:   1;
            transform: scale3d( 1, 1, 1 );

        } // .mvplayer__over-pause
    }

} // .mvplayer__overlay


@keyframes mvplayer__fadein
{
    0%
    {
        opacity: 0;
    }
    80%
    {
        opacity: 1;
    }
    100%
    {
        opacity: 0;
    }

} // @keyframes mvplayer__fadein



.mvplayer__controls
{
    @include pos-abs( 0, 92%, 0, 0, 10 );

    display:         flex;
    flex-flow:       column;
    align-items:     stretch;
    align-content:   stretch;
    justify-content: stretch;

} // .mvplayer__controls

.mvplayer__timeline
{
    @include size( null, 7.72% );
    @include pos-abs( 0, -7.72%, 0, null, 1 );

    flex:       0 0 auto;
    cursor:     pointer;
    background: none rgba( 255, 255, 255, 0.2 );

    &:hover
    {
        .mvplayer__thumb
        {
            transform: scale3d( 3, 3, 1 );
        }
    }

} // .mvplayer__timeline

.mvplayer__position
{
    @include pos-abs( 0, 0, null, 0, 2 );

    background-color: red;
    width:            0;
    transition:       $ani-speed-015s-base width ease-in-out;

} // .mvplayer__position

.mvplayer__thumb
{
    @include size( 5px );
    @include pos-abs( null, 0, 0, 0, 1 );

    background-color: red;
    transform-origin: 50% 50%;
    border-radius:    50%;
    overflow:         hidden;
    transition:       $ani-speed-015s-base transform ease-in-out;

} // .mvplayer__thumb

.mvplayer__loaded
{
    @include pos-abs( 0, 0, null, 0, 0 );

    background: none rgba( 255, 255, 255, 0.5 );
    width:      0;
    transition: $ani-speed-015s-base width ease-in-out;

} // .mvplayer__loaded

.mvplayer__wrap
{
    @include size( null, 92.28% );

    flex:            0 0 auto;
    display:         flex;
    flex-flow:       row;
    align-items:     stretch;
    align-content:   stretch;
    justify-content: stretch;

} // .mvplayer__wrap

.mvplayer__col
{
    flex:            0 1 60px;
    display:         flex;
    align-content:   center;
    align-items:     center;
    justify-content: center;
    color:           #fff;
    margin-right:    15px;

} // .mvplayer__col

.mvplayer__col-prev, .mvplayer__col-next
{
    display: none;

} // .mvplayer__col-prev, .mvplayer__col-next

.mvplayer__filler
{
    flex:      1 1 100px;
    max-width: 100%;

} // .mvplayer__filler

.mvplayer__controls-btn
{
    @include pos-rel( null, null, null, null, 0 );
    @include size( 50%, 50% );

    fill:       rgba( 255, 255, 255, 0.8 );
    transition: 0.25s fill ease-in-out;

    svg
    {
        @include size( 100%, 100% );

    } // svg

    &:hover
    {
        fill: rgba( 255, 255, 255, 1 );
    }

} // .mvplayer__controls-btn

.mvplayer__prev
{
    @extend .mvplayer__controls-btn;

} // .mvplayer__prev

.mvplayer__playpause
{
    @extend .mvplayer__controls-btn;

    .mvplayer__play
    {
        @include pos-rel( null, null, null, null, 1 );

        opacity: 1;

    } // .mvplayer__play

    .mvplayer__pause
    {
        @include pos-abs( 0, 0, null, null, 0 );

        opacity: 0;

    } // .mvplayer__pause

    .mvplayer--playing &
    {
        .mvplayer__play
        {
            opacity: 0;

        } // .mvplayer__play

        .mvplayer__pause
        {
            opacity: 1;

        } // .mvplayer__pause

    } // .mvplayer--playing

} // .mvplayer__playpause

.mvplayer__next
{
    @extend .mvplayer__controls-btn;

    svg
    {
        transform: rotate3d( 0, 0, 1, 180deg );

    } // svg

} // .mvplayer__next

.mvplayer__snd
{
    @extend .mvplayer__controls-btn;

    .mvplayer__sndon
    {
        @include pos-rel( null, null, null, null, 1 );

        opacity: 1;

    } // .mvplayer__sndon

    .mvplayer__sndoff
    {
        @include pos-abs( 0, 0, null, null, 0 );

        opacity: 0;

    } // .mvplayer__sndoff

    .mvplayer--muted &
    {
        .mvplayer__sndon
        {
            opacity: 0;

        } // .mvplayer__sndon

        .mvplayer__sndoff
        {
            opacity: 1;

        } // .mvplayer__sndoff

    } // .mvplayer--muted

} // .mvplayer__snd

.mvplayer__col-volume
{
    display:         flex;
    align-items:     center;
    align-content:   center;
    justify-content: center;

} // .mvplayer__col-volume

.mvplayer__volume
{
    @include size( 100%, 5px );
    @include pos-rel( null, null, null, null, null );

    background:    none rgba(255, 255, 255, 0.2);
    border-radius: 2px;
    cursor:        pointer;

} // .mvplayer__volume

.mvplayer__volume-current
{
    @include size( 10%, 5px );

    background: none rgba(255, 255, 255, 1);

} // .mvplayer__volume-current

.mvplayer__volume-thumb
{
    @include size( 15px, 15px );
    @include pos-abs( -7px, -5px, null, null, 2 );

    background:       none rgba(255, 255, 255, 0.6);
    border-radius:    50%;
    transform-origin: 50% 50%;
    transform:        translate3d(0, 0, 0);
    cursor:           pointer;

} // .mvplayer__volume-thumb

.mvplayer__progress
{
    flex:        0 1 100px;
    box-sizing:  border-box;
    padding:     0 10px;
    white-space: nowrap;

} // .mvplayer__progress

.mvplayer__settings
{
    @extend .mvplayer__controls-btn;

    transition: 0.2s transform ease-in-out;

    &:hover
    {
        transform: rotate3d( 0, 0, 1, 30deg );
    }

} // .mvplayer__settings

.mvplayer__fs
{
    @extend .mvplayer__controls-btn;

    .mvplayer__fsenter
    {
        @include pos-rel( null, null, null, null, 1 );

        opacity: 1;

    } // .mvplayer__fsenter

    .mvplayer__fsexit
    {
        @include pos-abs( 0, 0, null, null, 0 );

        opacity: 0;

    } // .mvplayer__fsexit

    .mvplayer--fullscreen &
    {
        .mvplayer__fsenter
        {
            opacity: 0;

        } // .mvplayer__fsenter

        .mvplayer__fsexit
        {
            opacity: 1;

        } // .mvplayer__fsexit

    } // .mvplayer--fullscreen

} // .mvplayer__fs
