{% extends "partials/base-page-template.twig" %}
{% block content %}
    <div class="page__main">
        <section class="content">
            <div class="content__main">

                {% include 'partials/mvplayer.twig' %}

            </div><!-- /content__main -->
        </section>
    </div> <!-- /page__main -->
{% endblock %}
