<div class="mvplayer">

    <video class="mvplayer__video">
        <source src="temp-files/placeholder.mp4" type="video/mp4">
        Your browser is fucking OLD!1
    </video> <!-- /mvplayer__video -->

    <div class="mvplayer__overlay">
        <div class="mvplayer__over-play">
            <svg preserveAspectRatio="xMidYMid meet">
                <use xlink:href="/images/sprite.svg#ico-player-play"></use>
            </svg>
        </div>
        <div class="mvplayer__over-pause">
            <svg preserveAspectRatio="xMidYMid meet">
                <use xlink:href="/images/sprite.svg#ico-player-pause"></use>
            </svg>
        </div>
    </div> <!-- /mvplayer__overlay -->

    <div class="mvplayer__controls">

        <div class="mvplayer__timeline">
            <div class="mvplayer__position">
                <div class="mvplayer__thumb"></div>
            </div>
            <div class="mvplayer__loaded"></div>
        </div> <!-- /mvplayer__timeline -->

        <div class="mvplayer__wrap">
            <div class="mvplayer__col mvplayer__col-prev">
                <div class="mvplayer__prev">
                    <svg preserveAspectRatio="xMidYMid meet">
                        <use xlink:href="/images/sprite.svg#ico-player-previous"></use>
                    </svg>
                </div>
            </div> <!-- /mvplayer__col -->

            <div class="mvplayer__col mvplayer__col-playpause">
                <div class="mvplayer__playpause">
                    <svg preserveAspectRatio="xMidYMid meet" class="mvplayer__play">
                        <use xlink:href="/images/sprite.svg#ico-player-play"></use>
                    </svg>
                    <svg preserveAspectRatio="xMidYMid meet" class="mvplayer__pause">
                        <use xlink:href="/images/sprite.svg#ico-player-pause"></use>
                    </svg>
                </div>
            </div> <!-- /mvplayer__col -->

            <div class="mvplayer__col mvplayer__col-next">
                <div class="mvplayer__next">
                    <svg preserveAspectRatio="xMidYMid meet">
                        <use xlink:href="/images/sprite.svg#ico-player-previous"></use>
                    </svg>
                </div>
            </div> <!-- /mvplayer__col -->

            <div class="mvplayer__col mvplayer__col-snd">
                <div class="mvplayer__snd">
                    <svg preserveAspectRatio="xMidYMid meet" class="mvplayer__sndon">
                        <use xlink:href="/images/sprite.svg#ico-player-sound-on"></use>
                    </svg>
                    <svg preserveAspectRatio="xMidYMid meet" class="mvplayer__sndoff">
                        <use xlink:href="/images/sprite.svg#ico-player-sound-off"></use>
                    </svg>
                </div>
            </div> <!-- /mvplayer__col -->

            <div class="mvplayer__col mvplayer__col-volume">
                <div class="mvplayer__volume">
                    <div class="mvplayer__volume-current"></div>
                    <div class="mvplayer__volume-thumb"></div>
                </div>
            </div> <!-- /mvplayer__col -->

            <div class="mvplayer__col mvplayer__progress">
                00:00:00 / 00:00:00
            </div> <!-- /mvplayer__col -->

            <div class="mvplayer__col mvplayer__filler"></div>

            <div class="mvplayer__col mvplayer__col-settings">
                <div class="mvplayer__settings">
                    <svg preserveAspectRatio="xMidYMid meet">
                        <use xlink:href="/images/sprite.svg#ico-player-settings"></use>
                    </svg>
                </div>
            </div> <!-- /mvplayer__col -->

            <div class="mvplayer__col mvplayer__col-fs">
                <div class="mvplayer__fs">
                    <svg preserveAspectRatio="xMidYMid meet" class="mvplayer__fsenter">
                        <use xlink:href="/images/sprite.svg#ico-player-fullscreen-enter"></use>
                    </svg>
                    <svg preserveAspectRatio="xMidYMid meet" class="mvplayer__fsexit">
                        <use xlink:href="/images/sprite.svg#ico-player-fullscreen-exit"></use>
                    </svg>
                </div>
            </div> <!-- /mvplayer__col -->

        </div> <!-- /mvplayer__wrap -->

    </div> <!-- /mvplayer__controls -->

</div> <!-- /mvplayer -->
